<!DOCTYPE html>
<html>

	<head>

		<title>Angular Starterkit</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="assets/libs.css">
        <link rel="stylesheet" type="text/css" href="assets/main.css">

        <% if (debug) { %>
        <script src="/assets/scripts/jquery.js"></script>
        <% } else { %>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <% } %>

        <script src="/environment"></script>

	</head>

	<body ng-app="myApp">

		<div id="partial" class="container" ng-controller="PartialController" ng-include="'/views/partial.html'"></div>

		<div id="content">
			<div class="container" ng-view></div>
		</div>

        <% if (debug) { %>
        <script src="/assets/scripts/angular.js"></script>
        <% } else { %>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <% } %>

		<script src="/assets/libs.js"></script>
        <script src="/assets/templates.js"></script>
		<script src="/assets/main.js"></script>

	</body>

</html>